html, body {
padding: 15 0 0 0;
margin: 0;
width: 100%;
height: 100%;
margin: 0px;
overflow-x: hidden; 
}

/*************************
RESPONSIVE TEXT
*************************/
h1 {
font-size: 400%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}

p {
  font-size: 100%;
}

/*************************
RESPONSIVE TEXT
*************************/
@media (max-width: 480px) {
  h1 {
    font-size: 200%;
  }
  h3 {
    font-size: 110%;
  }
  h4 {
    font-size: 90%;
  }
}

/*************************
RESPONSIVE BUTTONS
Credit: http://bootply.com/93706
*************************/
@media (max-width: 480px) {
  .btn-responsive {
    padding:4px 8px;
    font-size:150%;
    line-height: 1.5;
    border-radius:3px;
  }
}

@media (min-width: 481px) {
  .btn-responsive, .btn-responsive2 {
    padding:4px 9px;
    font-size:200%;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  .btn-responsive2 {
    padding:4px 4px;
    font-size:90%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 480px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:200%;
    line-height: 1.5;
  }
}


/*************************
FROM IDEAS TO ACTION
*************************/

.splash {
padding-top: 15%;
padding-left: 2em;
padding-right: 0em;
padding-bottom: 20em;
height: auto;
background: url(../img/DSC_0519_adj_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 480px) {
  .splash {
    padding-bottom: 10em;
  } 
}

.splash h1 {
font-size: 80;
color: rgb(60, 186, 200);
}

@media (max-width: 480px) {
  .splash h1 {
    font-size: 400%;
  } 
}

@media (max-width: 480px) {
  .splash h2 {
  font-size: 200%;
  } 
}

@media (max-width: 1024px) {
  .splash h2 {
  color: rgb(143, 238, 214);
  } 
}

/*************************
ABOUT THE BOOK
*************************/

.page0 {
background: rgb(60, 186, 200);
height: auto;
width: 100%;
padding: 4em 2em 4em 2em;
margin: 0;
}

.bookgraphic {
transform:rotate(360deg);
-ms-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
width: 70%;
}

/*************************
PHOTO 1
*************************/

.photo1 {
padding-top: 30em;
padding-left: 2em;
padding-right: 2em;
padding-bottom: 30em;
height: auto;
background: url(../img/Rwanda_Babson_0292_adj_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 480px) {
  .photo1 {
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .photo1 {
  padding-top: 20em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20em;
  }
}

/*************************
OUR APPROACH
*************************/

.page1 {
background: rgb(143, 238, 214);
height: auto;
width: 100%;
padding: 4em 2em 4em 2em;
margin: 0;
}

.curriculum {
max-width: 100%;
width: 100%;
}

/*************************
PHOTO 2
*************************/

.photo2 {
padding-top: 30em;
padding-left: 2em;
padding-right: 2em;
padding-bottom: 30em;
height: auto;
background: url(../img/Rwanda_Babson_0344_adj_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 1024px) {
  .photo2 {
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .photo2 {
  padding-top: 20em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20em;
  }
}

/*************************
USED BY STUDENTS
AROUND THE WORLD
*************************/

.page2 {
background: #F9CB8F;
height: auto;
width: 100%;
padding: 4em 2em 4em 2em;
margin: 0;
}

.map {
width: 100%;
padding: 0;
margin: 0;
}

/*************************
DOWNLOAD THE BOOK
*************************/

.page3pt1 {
background: #F3F5C4;
height: auto;
width: 100%;
padding: 4em 2em 0em 2em;
margin: 0;
}

.page3pt2 {
background: #F3F5C4;
height: auto;
width: 100%;
padding: 0em 2em 4em 2em;
margin: 0;
}

.page3pt1 .thumbnail {
background: rgba(255, 255, 255, 0.40);
border: none;
padding: 0.5em;
}

.btn-danger {
background: #F9CB8F;
color: white;
border: none;
}

.btn-danger:hover {
background: white;
border:none;
color: #F9CB8F;
}

/*************************
PHOTO 3
*************************/

.photo3 {
padding-top: 30em;
padding-left: 2em;
padding-right: 2em;
padding-bottom: 30em;
height: auto;
background: url(../img/Rwanda_Babson_0267_adj_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 1024px) {
  .photo3 {
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .photo3 {
  padding-top: 20em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20em;
  }
}

/*************************
OUR ACADEMIES
*************************/

.page4 {
background: #F19181;
height: auto;
width: 100%;
padding: 4em 2em 4em 2em;
margin: 0;
}

/* Making iframe video responsive */
/* https://gist.github.com/jgarber/2302238 */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.btn-default {
background: rgb(227, 90, 110);
color: white;
border: none;
}

.btn-default:hover {
background: white;
border: none;
color: rgb(227, 90, 110);
}

/*************************
PHOTO 4
*************************/

.photo4 {
padding-top: 30em;
padding-left: 2em;
padding-right: 2em;
padding-bottom: 30em;
height: auto;
background: url(../img/Rwanda_Babson_0300_adj_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 1024px) {
  .photo4 {
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .photo4 {
  padding-top: 20em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20em;
  }
}

/*************************
TEAM
*************************/

.page5pt1 {
background: rgb(227, 90, 110);
height: auto;
width: 100%;
padding: 2em 2em 0em 2em;
margin: 0;
}

.page5pt2 {
background: rgb(227, 90, 110);
height: auto;
width: 100%;
padding: 2em 2em 2em 2em;
margin: 0;
}

.page5pt2 .thumbnail {
background: rgba(255, 255, 255, 0.20);
border: none;
padding: 0.5em 0.5em 0em 0.5em;
}

.thumbnail img {
width: 100%;
}

.btn-primary {
background: rgb(227, 90, 110);
border: none;
}

.btn-primary:hover {
background: white;
color: rgb(227, 90, 110);
}

/*************************
PHOTO 5
*************************/

.photo5 {
padding-top: 30em;
padding-left: 2em;
padding-right: 2em;
padding-bottom: 30em;
height: auto;
background: url(../img/Rwanda_Babson_0310_adj2_web.jpg) 100% 0 no-repeat fixed; 
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";
}

@media (max-width: 1024px) {
  .photo5 {
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .photo5 {
  padding-top: 20em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20em;
  }
}

/*************************
BABSON COLLEGE
*************************/

.page6 {
background: rgb(101, 106, 110);
height: auto;
width: 100%;
padding: 2em 2em 2em 2em;
margin: 0;
}

.btn-warning {
background-color: #ddd;
color: rgb(101, 106, 110);
border: none;
}

.btn-warning:hover {
background: white;
border: none;
color: rgb(101, 106, 110);
}

@media (max-width: 480px) {
  .col-ts-12 {
  float: none;
  display:block;
  width: 100%;
  padding: 0;
  margin: 0;
  }
}

